<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="description" content="{{'Empresa de transporte Guatemala. Servicios de buses.' | trans}}">
		<link rel="shortcut icon" href="./assets/img/favicon.ico"/>
		<link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png"/>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

		<title>
			{% block title %}
				{{'Empresa de transporte Guatemala. Servicios de buses.' | trans}}
			{% endblock %}
		</title>

	</head>
	<body class="antialiased">

		{{component('header')}}
		<main>
			{% block body %}{% endblock %}
		</main>
		{{component('footer')}}

		<script>
			function toggleNavbar(collapseID) {
document.getElementById(collapseID).classList.toggle("hidden");
document.getElementById(collapseID).classList.toggle("block");
}
		</script>
	</body>
</html>
