<!DOCTYPE html>
<html>
	<head>

		{% block seo %}
			{{ sonata_seo_metadatas() }}
		{% endblock %}

		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="shortcut icon" href="./assets/img/favicon.ico"/>
		<link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png"/>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

		{% block title %}
			{{ sonata_seo_title() }}
		{% endblock %}

	</head>
	<body class="antialiased">

		{{component('header')}}
		<main>
			<div id="turbo-loading">
				{{ component('alert', {attr: 'id=msg-pagando', class: 'hidden info max-w-xs sm:max-w-md md:max-w-lg -mb-5',  text: 'Este proceso puede tardar varios segundos. Por favor mantegase en la página.' | trans}) }}

				<svg class="w-24" version="1.1" id="L4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
					<circle fill="#3D92B2" stroke="none" cx="6" cy="50" r="6">
						<animate attributename="opacity" dur="1s" values="0;1;0" repeatcount="indefinite" begin="0.1"></animate>
					</circle>
					<circle fill="#3D92B2" stroke="none" cx="26" cy="50" r="6">
						<animate attributename="opacity" dur="1s" values="0;1;0" repeatcount="indefinite" begin="0.2"></animate>
					</circle>
					<circle fill="#3D92B2" stroke="none" cx="46" cy="50" r="6">
						<animate attributename="opacity" dur="1s" values="0;1;0" repeatcount="indefinite" begin="0.3"></animate>
					</circle>
					<circle fill="#3D92B2" stroke="none" cx="66" cy="50" r="6">
						<animate attributename="opacity" dur="1s" values="0;1;0" repeatcount="indefinite" begin="0.3"></animate>
					</circle>
					<circle fill="#3D92B2" stroke="none" cx="86" cy="50" r="6">
						<animate attributename="opacity" dur="1s" values="0;1;0" repeatcount="indefinite" begin="0.3"></animate>
					</circle>
				</svg>
			</div>
			{% block body %}{% endblock %}
		</main>
		{{component('footer')}}

		<script>
			function toggleNavbar(collapseID) {
document.getElementById(collapseID).classList.toggle("hidden");
document.getElementById(collapseID).classList.toggle("block");
}
		</script>
	</body>
</html>
