<!DOCTYPE html>
<html>
	<head>

		{% block seo %}
			{{ sonata_seo_metadatas() }}
		{% endblock %}

		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="shortcut icon" href="./assets/img/favicon.ico"/>
		<link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png"/>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

		{% block title %}
			{{ sonata_seo_title() }}
		{% endblock %}

		<script>
			function toggleNavbar(collapseID) {
document.getElementById(collapseID).classList.toggle("hidden");
document.getElementById(collapseID).classList.toggle("block");
}
		</script>

	</head>
	<body class="antialiased">

		{{component('header')}}
		<main>
			{% block body %}{% endblock %}
		</main>
		{{component('footer')}}


		<div id="authentication_check_enrollment" {{ turbo_stream_listen('authentication_check_enrollment_' ~ app.session.id) }}></div>
		<noscript data-turbo="false">
			<iframe style="width: 100px; height: 100px; border: 0; position:absolute; top: -5000px;" src="https://h.online-metrix.net/fp/tags?org_id=k8vif92e&session_id={{cybersource_session_id}}"></iframe>
		</noscript>
	</body>
</html>
