<nav class="bg-slate-700 top-0 fixed z-50 w-full flex flex-wrap items-center justify-between px-2 py-3">
	<div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
		<div class="relative flex justify-between w-full md:w-auto lg:static md:block lg:justify-start">
			<a class="text-xl lg:text-3xl inline-block py-2 whitespace-nowrap empresa-nombre brightness-150 contrast-125 text-slate-400 sepia" href="/">Transporte Fuente del Norte</a>
			<button class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block md:hidden outline-none focus:outline-none" type="button" onclick="toggleNavbar('example-collapse-navbar')">
				<span class="material-symbols-outlined text-white text-3xl">
					menu
				</span>
			</button>
		</div>
		<div class="md:flex justify-end items-center bg-transparent lg:shadow-none hidden" id="example-collapse-navbar">
			<ul class="flex flex-col md:flex-row list-none mr-auto">
				<li class="flex items-center">
					<a class="text-[15px] text-slate-200 hover:text-slate-400 py-3 md:px-2 flex items-center font-medium brightness-150 hover:brightness-0 contrast-125 hover:contrast-0 sepia hover:sepia-0" href="https://www.creative-tim.com/learning-lab/tailwind-starter-kit#/landing">
						{{'Estaciones' | trans}}</a>
				</li>
				<li class="flex items-center">
					<a class="text-[15px] text-slate-200 hover:text-slate-400 py-3 md:px-2 mr-3 flex items-center font-medium brightness-150 hover:brightness-0 contrast-125 hover:contrast-0 sepia hover:sepia-0" href="https://www.creative-tim.com/learning-lab/tailwind-starter-kit#/landing">
						{{'Quiénes somos' | trans}}</a>
				</li>
			</ul>
			<ul class="flex my-3 md:my-0">
				{% if not is_granted('ROLE_USER') %}
					<li class="flex items-center mr-3">
						{{ component('button_link', {text: 'English', link: '/en', class: 'btn sm text-xs'  ~ (app.request.locale == 'en' ? ' bg-slate-400 text-slate-900 hover:bg-slate-500' : ' btn-outline text-slate-200 border-slate-400 hover:bg-slate-600')}) }}

					</li>
					<li class="flex items-center mr-3">
						{{ component('button_link', {text: 'Español', link: '/', class: 'btn sm text-xs' ~ (app.request.locale == 'es' ? ' bg-slate-400 text-slate-900 hover:bg-slate-500' : ' btn-outline text-slate-200 border-slate-400 hover:bg-slate-600')}) }}

					</li>
				{% else %}
					<li class="flex items-center mr-3">
						{{ component('button_link', {text: 'Administración', link: path('admin'), class: 'btn sm text-xs bg-teal-400 text-teal-900 hover:bg-teal-500'}) }}
					</li>
				{% endif %}
			</li>
		</ul>
		{% if app.request.locale == 'es'%}
			<ul class="flex my-3 md:my-0">
				<li class="flex items-center">
					{% if is_granted('ROLE_USER') %}
						{{ component('button_link', {text: 'Cerrar sesión', link: path('app_logout'), class: ' my-3 md:my-0 btn sm text-xs btn-outline text-slate-200 border-slate-400 hover:bg-slate-600' }) }}
					{% else %}
						{{ component('button_link', {text: 'Iniciar sesión', link: path('app_login'), class: ' my-3 md:my-0 btn sm text-xs btn-outline text-slate-200 border-slate-400 hover:bg-slate-600' }) }}
					{% endif %}
				</li>
			</ul>
		{% endif %}
	</div>
</div></nav></li></li>
