{% extends 'base.html.twig' %}

{% block body %}

	<section class="p-5 sm:p-20">
		<div class="container mx-auto">
			<div class="prose lg:prose-xl prose-img:my-0 lg:prose-img:my-0 m-auto">
				<p>
					{{'La empresa Transportes Fuente Del Norte fue fundada en 1,958 por un hombre pionero y visionario, que a pesar de las condiciones viales no dejo que sus esfuerzos fueran en vano.' | trans}}</p>

				<p>{{'Su inicio se origino con un Pick-Up  que transportaba pasajeros de la aldea mariscos al crucé de trincheras, y una camionetilla de tres filas que salía de mariscos a los amates, así como de mariscos a puerto barrios.' | trans}}</p>

				<p><img class="max-w-full float-right shadow-2xl rounded-lg" src="{{asset('images/historia-1.jpg')}}"/>{{'En el año de 1964 la Empresa Transportes Fuente del Norte da inicio a sus resultados  ya que adquiere la línea de transportes de bananera a Guatemala, siendo una posición que requería mucho esfuerzo y dedicación.' | trans}}</p>

				<p>{{'No muy lejano en el año 1969 da otro resultado la Empresa Transportes Fuente Del Norte ya que logra abrir brecha hacia el territorio Petenero, así como el área del atlántico,  lográndose la línea de transporte de Guatemala a puerto barrios y Guatemala a Santa Elena, Guatemala a la cruces, Guatemala a Melchor, esto era el resultado de un trabajo arduo y tenaz que se había establecido don Alfredo Mendoza Pellecer, con su empresa. Don Alfredo Mendoza al ver que la Empresa Transportes Fuente Del Norte, estaba dando pasos agigantados en el año 1981 tuvo que dialogar con la empresa litegua para definir áreas de trabajo llegando al mutuo acuerdo de que Transportes Fuente Del Norte tendría la línea de transporte de guatemala a peten, y transportes litegua de guatemala a puerto barrios.' | trans}}</p>

				<img class="max-w-full m-auto md:max-w-3xl shadow-2xl rounded-lg" src="{{asset('images/historia.jpg')}}"/>
				<p>{{'Don Alfredo Mendoza en su enfoque siempre pensó en la familia ya que se preocupo por dejar un legado a todos sus hijos y forjándolos para que su punto de vista siguiera mucho más lejos y así fueran los pioneros de las nuevas generaciones.' | trans}}</p>


				<p><img class="max-w-full float-right max-h-[500px] shadow-2xl rounded-lg" src="{{asset('images/historia-3.jpg')}}"/>
					{{'Esta nueva visión dio origen a un servicio de lujo dando origen al servicio de Autobuses Clase Oro y Maya de Oro. A la fecha la empresa Transportes Fuente Del Norte se ha extendido tanto dentro del país así como fuera del mismo, como lo es honduras, el salvador, belice, fronteras de méxico y belice.' | trans}}</p>
				<p>{{'Cuenta con el servicio de lujo con autobuses Clase Oro  de doble piso, para el sur y norte del país.  Cuenta con servicio de santa elena a cobán. Con sus respectivos derechos y autorizaciones de la dirección general de transportes.  Estos son los resultados de una persona pionera y soñadora  que con la Empresa Fuente Del Norte a llegado tan lejos dando un servicio a toda la población nacional con un 75% y extranjera.' | trans}}</p>
				<img class="max-w-full  m-auto md:max-w-3xl shadow-2xl rounded-lg" src="{{asset('images/historia-4.jpg')}}"/>

				<p>{{'Actualmente está constituida como sociedad anónima bajo el nombre de “Transportes Fuente Del Norte La Pionera, S.A.”' | trans}}</p>
				<ul>
					<li>
						<p class="font-medium">{{'Base legal' | trans}}</p>
						<p>{{'Empresa para servicio de transporte de pasajeros y carga  inscrita con patente de comercio de Sociedad  bajo el número de Registro 42723, folio 373, libro 136, de sociedades . Registrada el  31 de enero del año 2,000. Inscrita ante la  Superintendencia de Administración Tributaria (SAT) el 04 de febrero del año 2,000 con la actividad de transporte de pasajeros y carga por carretera.' | trans}}</p>
					</li>
					<li>
						<p class="font-medium">{{'Visión' | trans}}</p>
						<p>{{'Ser  una empresa de transporte de  pasajeros y encomienda, a la vanguardia en la aplicación de tecnología, garantizando un servicio de calidad y confort.' | trans}}</p>
					</li>
					<li>
						<p class="font-medium">{{'Misión' | trans}}</p>
						<p>{{'Ser líderes en el servicio de transporte de  pasajeros y encomienda nacional e internacional, ofreciendo un servicio de calidad a nuestros clientes, una fuente de trabajo estable para nuestros empleados, beneficio para el desarrollo social y económico del país; basado en la eficiencia y  actitudes orientadas a la satisfacción del cliente y a la mejora continua.' | trans}}</p>
					</li>
					<li>
						<p class="font-medium">{{'Objetivos' | trans}}</p>
						<ul>
							<li>
								<p>{{'Ofrecer el mejor servicio de transporte de pasaje y encomiendas, de manera segura y confiable.' | trans}}</p>
							</li>
							<li>
								<p>{{'Velar porque todo el personal aplique las normas y procedimientos de la empresa en la prestación de todos los servicios.' | trans}}</p>
							</li>
							<li>
								<p>{{'Garantizar la eficiencia y seguridad, para que se proporcione a los clientes, el mejor servicio posible.' | trans}}</p>
							</li>
						</ul>
					</li>
					<li>
						<p class="font-medium">{{'Estrategias' | trans}}</p>
						<ul>
							<li>
								<p>{{'Servicio al cliente. El cliente por encima de todo.' | trans}}</p>
							</li>
							<li>
								<p>{{'Introducir nuevas unidades de autobuses. satisfacer a los clientes con comodidad, seguridad y confort.' | trans}}</p>
							</li>
							<li>
								<p>{{'Ofrecer nuevos servicios. autobuses de lujo con a/c, tv y baño, servicio de encomiendas de puerta a puerta para satisfacción de nuestros clientes.' | trans}}</p>
							</li>
						</ul>
					</li>
					<li>
						<p class="font-medium">{{'Valores' | trans}}</p>
						<ul>
							<li>
								<p>{{'Honestidad. Sabemos que en la honestidad está basado el logro de los objetivos y la permanencia en el mercado, por ello, hacemos de este valor el eje fundamental de todas nuestras operaciones, tanto hacia los clientes, como hacia todas y cada una de las personas que aportan su talento y servicio a nuestra empresa; reconocemos nuestras fuerzas y nos esforzamos por superar nuestras debilidades día a día.' | trans}}</p>
							</li>
							<li>
								<p>{{'Respeto. Estamos convencidos de que a través del respeto por las personas y por todos los compromisos adquiridos, podremos lograr el posicionamiento de nuestra empresa y el reconocimiento de la calidad de los servicios que prestamos.' | trans}}</p>
							</li>
							<li>
								<p>{{'Trabajo. Creemos que el trabajo es la fuente primordial de beneficios para todos aquellos que se involucran en nuestras operaciones y que el único indicador de los esfuerzos que realizamos es el resultado.' | trans}}</p>
							</li>
							<li>
								<p>{{'Tecnología. Reconocemos la importancia de la tecnología en el logro de nuestras metas y estamos comprometidos en su aplicación y desarrollo para alcanzar la vanguardia de calidad en servicio y la puntualidad en los destinos  que nuestros clientes nos confían.' | trans}}</p>
							</li>
							<li>
								<p>{{'Seguridad. Sabemos la responsabilidad que conlleva nuestra operación, por eso dimensionamos la importancia de apegarnos a sistemas y procedimientos que salvaguarden la integridad de los clientes que transportamos y de las personas que intervienen en su traslado.' | trans}}</p>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</section>
{% endblock %}
