{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('reserva') }}
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="https://h.online-metrix.net/fp/tags.js?org_id=1snn5n9w&session_id={{cybersource_session_id}}"></script>
	{{ parent() }}
{% endblock %}

{% block seo %}
	{{ sonata_seo_metadatas() }}
{% endblock %}

{% block body %}

	<noscript>
		<iframe style="width: 100px; height: 100px; border: 0; position:absolute; top: -5000px;" src="https://h.online-metrix.net/fp/tags?org_id=1snn5n9w&session_id={{cybersource_session_id}}"></iframe>
	</noscript>


	<div class="relative flex justify-center items-center banner z-40">

		{{ component('slider')}}
		{% include 'reservacion/reservar.html.twig' %}
	</div>


	<section class="relative flex items-center justify-center mb-32 pt-12 lg:pt-16">

		<div class="relative mx-auto flex items-center px-5 sm:px-10 md:px-5">
			<div class="m-auto">
				<div class="tracking-wider text-center font-medium mb-8 md:mb-10 lg:mb-14 text-3xl lg:text-5xl empresa-nombre">{{'Nuestros Servicios' | trans}}</div>
				<div class="flex flex-wrap justify-center m-auto">
					{% for key, servicio in servicios %}
						<div class="mb-7 w-full sm:max-w-xs lg:max-w-sm md:min-w-[330px] sm:w-2/4 md:w-4/12 lg:w-3/12 text-center px-4 sm:px-2 lg:px-3">
							<a href="{{path('servicio', {'_fragment': servicio.slug})}}">
								<div class="bg-white w-full px-4 py-8 shadow-lg rounded-lg max-h-[366px]">
									<div class="grid gap-5">
										<picture class="shadow-lg max-w-[200px] m-auto">
											<source srcset="{{ servicio.imagen.path | imagine_filter('imagen_servicio_inicio') }}" type="image/webp">
											<source srcset="{{ servicio.imagen.path | imagine_filter('imagen_servicio_inicio') }}" type="image/jpeg">
											<img class="rounded-md" src="{{ servicio.imagen.path | imagine_filter('imagen_servicio_inicio') }}" alt="{{servicio.imagen.nombre}}">
										</picture>
										<h6 class="text-lg font-semibold">{{servicio.nombre}}</h6>
										<div class="text-ellipsis overflow-hidden h-36">
											{{servicio.texto | raw}}
										</div>
									</div>
								</div>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>

	</section>

	<section class="pb-20 relative block bg-slate-400">
		<div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20" style="height: 80px;">
			<svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="none" version="1.1" viewbox="0 0 2560 100" x="0" y="0">
				<polygon class="text-slate-400 fill-current" points="2560 0 2560 100 0 100"></polygon>
			</svg>
		</div>
		<div class="container mx-auto px-4 lg:pt-16">
			<div class="contaidner mx-auto px-4">
				<div class="flex flex-wrap">
					<div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
						<div class="mb-5 font-semibold text-xl text-center text-gray-700">
							{{'Clase Platino' | trans}}
						</div>
						<div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">

							<div class="aspect-w-16 aspect-h-9">
								<iframe class="shadow-2xl rounded-lg w-full" src="https://www.youtube.com/embed/J4G7FWdfKEc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						</div>
					</div>
					<div class="w-full md:w-4/12 px-4 text-center">
						<div class="mb-5 font-semibold text-xl text-center text-gray-700">
							{{'Clase Oro' | trans}}
						</div>
						<div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
							<div class="aspect-w-16 aspect-h-9">
								<iframe class="shadow-2xl rounded-lg w-full" src="https://www.youtube.com/embed/i96AR2v29U0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						</div>
					</div>
					<div class="pt-6 w-full md:w-4/12 px-4 text-center ">
						<div class="mb-5 font-semibold text-xl text-center text-gray-700">
							{{'Excursiones' | trans}}
						</div>
						<div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
							<div class="aspect-w-16 aspect-h-9">
								<iframe class="shadow-2xl rounded-lg w-full" src="https://www.youtube.com/embed/FHgIZX4UmAw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="flex flex-wrap text-center justify-center">
				<div class="w-full lg:w-6/12 px-4">
					<p class="text-lg leading-relaxed mt-4 mb-4 font-medium">
						{{'Estamos en la mejor disposici칩n de brindarle un servicio con calidad y elegancia a un c칩modo precio. Nuestra experiencia en transporte de pasajeros es por mas de 50 a침os. La calidad de nuestro servicio es el resultado de su preferencia.' | trans}}
					</p>
				</div>
			</div>
		</div>
	</section>

	<section id="contacto" class="relative block bg-slate-600 pt-20 pb-32">
		<div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20" style="height: 80px; transform: rotate(180deg) rotateX(180deg);">
			<svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="none" version="1.1" viewbox="0 0 2560 100" x="0" y="0">
				<polygon class="text-slate-600 fill-current" points="2560 0 2560 100 0 100"></polygon>
			</svg>
		</div>
		<div class="container mx-auto">
			<div class="flex flex-wrap justify-center">
				<div class="w-full md:w-3/4 lg:w-6/12 px-4">
					<div class="relatidve shadow-lg rounded-lg bg-gray-300">
						<div class="container mx-auto p-10">
							<h4 class="text-2xl font-semibold">{{'Desea contactarnos?' | trans}}</h4>
							<p class="leading-relaxed mt-1 mb-4 text-gray-600">
								{{'Complete este formulario y nos pondremos en contacto con usted en 24 horas.' | trans}}
							</p>
							{{ render_esi(controller('App\\Controller\\AppController::contactoForm')) }}
						</div>


					</div>
				</div>
			</div>
		</div>
	</section>

	<div id="turbo-loading" class="">
		{{ component('alert', {attr: 'id=msg-pagando', class: 'hidden info max-w-xs sm:max-w-md md:max-w-lg -mb-5 bg-cyan-700 text-white !text-base',  text: 'Este proceso puede tardar varios segundos. Por favor mantegase en la p치gina.' | trans}) }}

		<svg class="w-24" version="1.1" id="L4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
			<circle fill="#3D92B2" stroke="none" cx="6" cy="50" r="6">
				<animate attributename="opacity" dur="1s" values="0;1;0" repeatcount="indefinite" begin="0.1"></animate>
			</circle>
			<circle fill="#3D92B2" stroke="none" cx="26" cy="50" r="6">
				<animate attributename="opacity" dur="1s" values="0;1;0" repeatcount="indefinite" begin="0.2"></animate>
			</circle>
			<circle fill="#3D92B2" stroke="none" cx="46" cy="50" r="6">
				<animate attributename="opacity" dur="1s" values="0;1;0" repeatcount="indefinite" begin="0.3"></animate>
			</circle>
			<circle fill="#3D92B2" stroke="none" cx="66" cy="50" r="6">
				<animate attributename="opacity" dur="1s" values="0;1;0" repeatcount="indefinite" begin="0.3"></animate>
			</circle>
			<circle fill="#3D92B2" stroke="none" cx="86" cy="50" r="6">
				<animate attributename="opacity" dur="1s" values="0;1;0" repeatcount="indefinite" begin="0.3"></animate>
			</circle>
		</svg>
	</div>
{% endblock %}
