<button class="btn" {% if attr is defined %} {%- for attrname, attrvalue in attr -%} {{- " " -}} {{- attrname }}="{{ attrvalue }}" {%- endfor -%} {% endif %}>

	<div class="flex justify-center">
		{% if icon is defined and icon.left is defined%}
			<span class="material-symbols-outlined mr-2">{{icon.name}}</span>
		{% endif %}
		<span class="capitalize cursor-pointer">{{text | trans}}</span>
		{% if icon is defined and icon.right is defined%}
			<span class="material-symbols-outlined ml-2">{{icon.name}}</span>
		{% endif %}
	</div>
</button>
