<a class="btn {{class}}" href="{{link}}" {{attr}}>
	<div class="flex justify-center items-center">
		{% if icon is defined and icon.left is defined%}
			<span class="material-symbols-outlined left">{{icon.name}}</span>
		{% endif %}
		<label class="capitalize cursor-pointer">{{text | trans}}</label>
		{% if icon is defined and icon.right is defined%}
			<span class="material-symbols-outlined">{{icon.name}}</span>
		{% endif %}
	</div>
</a>
