<button class="btn {{class}}" {% if attr is defined %} {%- for attrname, attrvalue in attr -%} {{- " " -}} {{- attrname }}="{{ attrvalue }}" {%- endfor -%} {% endif %}>

	<div class="flex justify-center items-center">
		{% if icon is defined and icon.left is defined%}
			<span class="material-symbols-outlined left">{{icon.name}}</span>
		{% endif %}
		<span class="capitalize cursor-pointer">{{text | trans}}</span>
		{% if icon is defined and icon.right is defined%}
			<span class="material-symbols-outlined">{{icon.name}}</span>
		{% endif %}
	</div>
</button>
