<section class="relative block h-[33vw]" data-controller="slider" data-slider-images-value="{{this.slider | json_encode()}}">

	<div data-slider-target="slider">
		{% for key, image in this.slider.images %}
			<picture class="block" style="z-index: {{this.slider.images | length - key}}">
				<source srcset="{{ image.path | imagine_filter('slider_webp') }}" type="image/webp">
				<source srcset="{{ image.path | imagine_filter('slider_image') }}" type="image/jpeg">
				<img width="100%" src="{{ image.path | imagine_filter('slider_image') }}" alt="{{image.nombre}}">
			</picture>
		{% endfor %}
	</div>
</section>
