{% extends 'base.html.twig' %}

{% block body %}
	<div data-controller="procesar-pago" data-procesar-pago-mercure-value="{{ mercure('cybersource_enroll_callback') }}" data-procesar-pago-check-enrollment-path-value="{{path('3d-secure-iframe-device')}}" class="max-w-3xl m-auto">

		{# Paso 1 pag 24 Step 1: Payer Authentication Setup Service --------------------------------------------------#}
		{# <turbo-frame id="reservacion-form"> #}

		{# <iframe name="”ddc-iframe”" height="10" width="10" style="display: none;"> </iframe>
																										
																										
																												<form id="ddc-form" target="”ddc-iframe”" method="POST" action="{{deviceDataCollectionUrl}}">
																													<input type="hidden" name="JWT" value="{{accessToken}}"/>
																												</form> #}
		{# <iframe id="test" name="step-up-iframe" height="{{height}}" width="{{width}}"> </iframe>
										
												<form id="step-up-form" target="step-up-iframe" method="post" action="{{stepUpUrl}}">
													<input type="hidden" name="JWT" value="{{accessToken}}"/>
													<input type="hidden" name="MD" value="optionally_include_custom_data_that_will_be_returned_as_is"/>
												</form> #}

			<script>
window.onload = function () {
// window.close()
// var stepUpForm = document.querySelector('#step-up-form');
// if (stepUpForm)  // Step-Up form exists
// stepUpForm.submit();


}
	</script>

		{# </turbo-frame>#}
	</div>
{% endblock %}
