<div class="w-full my-8 z-20">
	<div class="flex" data-reservacion-target="pasos">
		<div class="w-1/4 {{reservacion_paso == 0 ? 'active' : 'complete'}}">
			<div class="relative mb-2">
				<div class="step-label">{{ 'Ruta'|trans }}</div>
				<div class="relative w-10 h-10 mx-auto step-icon text-lg text-white flex items-center">
					<span class="material-symbols-outlined">
						sync_alt
					</span>
				</div>
			</div>
		</div>
		<div class="w-1/4 {{ reservacion_paso == 1 ? 'active' : (reservacion_paso > 1 ? 'complete' : '') }}">
			<div class="relative mb-2">
				<div class="step-label">{{'Salida'|trans}}</div>
				<div class="absolute flex align-center items-center align-middle content-center" style="width: calc(100% - 2.5rem - 1rem); top: 50%; transform: translate(-50%, -50%)">
					<div class="w-full bg-slate-200 rounded items-center align-middle align-center flex-1">
						<div class="step-union-lines"></div>
					</div>
				</div>
				<div class="step-icon">
					<span class="material-symbols-outlined">
						departure_board
					</span>
				</div>
			</div>


		</div>
		<div class="w-1/4 {{ reservacion_paso == 2 ? 'active' : (reservacion_paso > 2 ? 'complete' : '') }}">
			<div class="relative mb-2">
				<div class="step-label">{{'Asientos'|trans}}</div>
				<div class="absolute flex align-center items-center align-middle content-center" style="width: calc(100% - 2.5rem - 1rem); top: 50%; transform: translate(-50%, -50%)">
					<div class="w-full bg-slate-200 rounded items-center align-middle align-center flex-1">
						<div class="step-union-lines"></div>
					</div>
				</div>

				<div class="step-icon">
					<span class="material-symbols-outlined">
						person_add
					</span>
				</div>
			</div>

		</div>
		<div class="w-1/4 {{ reservacion_paso == 3 ? 'active' : (reservacion_paso > 3 ? 'complete' : '') }}">
			<div class="relative mb-2">
				<div class="step-label">{{'Comprar'|trans}}</div>

				<div class="absolute flex align-center items-center align-middle content-center" style="width: calc(100% - 2.5rem - 1rem); top: 50%; transform: translate(-50%, -50%)">
					<div class="w-full bg-slate-200 rounded items-center align-middle align-center flex-1">
						<div class="step-union-lines"></div>
					</div>
				</div>

				<div class="step-icon">
					<span class="material-symbols-outlined">
						payments
					</span>
				</div>
			</div>

		</div>
	</div>
</div>
