<turbo-frame id="reservacion-form">
	<fieldset data-controller="asiento" data-asiento-primer-render-value="{{primer_render}}" class="border px-3 sm:px-5 py-10 rounded-md border-slate-500">
		{% if errors is not empty %}
			<ul class="m-auto w-fit mb-10">
				{% for error in errors %}
					<li class="text-red-700">{{ error }}</li>
				{% endfor %}
			</ul>
		{% endif %}

		{% for message in app.flashes('error_asientos_ocupados') %}
			<ul class="m-auto w-fit mb-1">
				<li class="text-red-700">{{ message }}</li>
			</ul>
		{% endfor %}

		{{ component('alert', {text: 'Puede escoger más de un asiento si viajan varias personas.' | trans}) }}

		<div class="grid grid-rows-1 gap-2 mt-10">

			<div class="{{reservacion.isIdaVuelta ? 'md:grid md:grid-cols-2 md:gap-5 md:divide-x-2' : ''}}">
				<div>
					<h1 class="mb-5 font-medium">{{'Salida' | trans}}</h1>
					{{ render(controller('App\\Controller\\ReservacionController::getAsientos', {id: reservacion.salida.id})) }}
				</div>
				{% if reservacion.isIdaVuelta %}
					<div class="md:pl-5 pt-10 md:pt-0">
						<div class="border-t mb-10 mt-3 md:hidden"></div>
						<h1 class="mb-5 font-medium">{{'Regreso' | trans}}</h1>
						{{render(controller('App\\Controller\\ReservacionController::getAsientos',{id: reservacion.regreso.id, regreso: true}))}}
					</div>
				{% endif %}
			</div>
		</div>


		<div class="flex justify-between mt-10">
			{{ component('button_link', {text: 'Atrás' | trans, icon: {left: true, name: 'arrow_back'}, link: path('salida', {'reservacion': reservacion.id})}) }}
			{{ form_start(form, {'action': path('asientos', {reservacion: reservacion.id})}) }}
			<div class="hidden">
				{{ form_row(form.asientos_salida, {attr: {'data-asiento-target': 'asientos_salida'}}) }}
				{% if reservacion.isIdaVuelta %}
					{{ form_row(form.asientos_regreso, {attr: {'data-asiento-target': 'asientos_regreso'}}) }}
				{% endif %}
			</div>
			{{ component('button', {text: 'Siguiente', icon: {right: true, name: 'arrow_forward'}, attr: {type: 'submit'}}) }}
			{{ form_end(form) }}

		</div>
	</fieldset>
</turbo-frame>
