<turbo-frame id="reservacion-form">
	<div data-controller="asiento" data-asiento-primer-render-value="{{primer_render}}">
		{% if errors is not empty %}
			{% for error in errors %}
				<div class="text-red-700 text-center mb-10">{{ error }}</div>
			{% endfor %}
		{% endif %}

		{% for message in app.flashes('error_asientos_ocupados') %}
			<div class="text-red-700 text-center mb-10">{{ message }}</div>
		{% endfor %}

		<div class="text-center mb-5">
			{{ component('alert', {text: 'Puede escoger más de un asiento si viajan varias personas.' | trans}) }}
		</div>


		<div class="flex sm:block justify-center">
			<div class="flex justify-center">

				<div class="{{reservacion.isIdaVuelta ? 'md:grid md:grid-cols-2 md:gap-5 md:divide-x-2' : ''}}">
					<div>
						<h1 class="mb-5 font-medium text-lg">{{'Salida' | trans}}</h1>
						{{ render(controller('App\\Controller\\ReservacionController::getAsientos', {id: reservacion.salida.id})) }}
					</div>
					{% if reservacion.isIdaVuelta %}
						<div class="md:pl-10 pt-10 md:pt-0">
							<div class="border-t mb-10 mt-3 md:hidden"></div>
							<h1 class="mb-5 font-medium text-lg">{{'Regreso' | trans}}</h1>
							{{render(controller('App\\Controller\\ReservacionController::getAsientos',{id: reservacion.regreso.id, regreso: true}))}}
						</div>
					{% endif %}
				</div>
			</div>

		</div>

		<div class="flex justify-between mt-14">
			{{ component('button_link', {text: 'Atrás' | trans, icon: {left: true, name: 'arrow_back'}, link: path('salida', {'reservacion': reservacion.id})}) }}
			{{ component('button_link', {text: 'Cancelar' | trans, icon: {left: true, name: 'block'}, class: 'cancel', link: path('cancelar'), attr: 'data-turbo=false'}) }}
			{{ form_start(form, {'action': path('asientos', {reservacion: reservacion.id})}) }}
			<div class="hidden">
				{{ form_row(form.asientos_salida, {attr: {'data-asiento-target': 'asientos_salida'}}) }}
				{% if reservacion.isIdaVuelta %}
					{{ form_row(form.asientos_regreso, {attr: {'data-asiento-target': 'asientos_regreso'}}) }}
				{% endif %}
			</div>
			{{ component('button', {text: 'Siguiente' | trans, icon: {right: true, name: 'arrow_forward'}, attr: {type: 'submit'}}) }}
			{{ form_end(form) }}
		</div>
	</div>
</div></turbo-frame>
