<div class="reserva absolute top-0 z-40 mx-auto mt-0 md:mt-16 bg-white sm:rounded-lg w-full max-w-full md:min-w-[700px] md:w-fit px-5 md:px-10 drop-shadow-lg">

	<div class="w-full m-auto" data-controller="reservacion" data-reservacion-paso-value="{{reservacion_paso}}">

		{% if reservacion_paso == 0 %}
			<div class="text-center pt-5" data-reservacion-target="alert">
				{{ component('alert', {text: 'Haga su <strong>reserva</strong> completando la información requerida.' | trans, class: 'rounded-none mb-0'}) }}
			</div>
		{% endif %}

		<div data-action='ruta-form:reservacion_paso@window->reservacion#setPaso'></div>
		<div data-action='buscar-salida:reservacion_paso@window->reservacion#setPaso'></div>
		<div data-action='asiento:reservacion_paso@window->reservacion#setPaso'></div>
		<div data-action='pagar:reservacion_paso@window->reservacion#setPaso'></div>

		<div class="py-20">

			{% include 'reservacion/_steps.html.twig' %}


			<div class="relative" data-action="confirmacion:reserva->reservacion#setPaso">

				{% if reservacion_paso == 0 %}
					{{ render_esi(controller('App\\Controller\\ReservacionController::ruta', {'reservacion': reservacion_id, primer_render: true})) }}
				{% elseif reservacion_paso == 1 %}
					{{ render(controller('App\\Controller\\ReservacionController::salida', {'reservacion': reservacion_id, primer_render: true})) }}
				{% elseif reservacion_paso == 2 %}
					{{ render(controller('App\\Controller\\ReservacionController::asientos', {'reservacion': reservacion_id, primer_render: true})) }}
				{% elseif reservacion_paso == 3 %}
					{{ render(controller('App\\Controller\\ReservacionController::pagar', {'reservacion': reservacion_id, primer_render: true})) }}
				{% endif %}
			</div>
		</div>
	</div>

</div>
