<turbo-frame id="reservacion-form">

	{% if errors is not empty %}
		<ul class="m-auto w-fit mb-10">
			{% for error in errors %}
				<li class="text-red-700">{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}

	<div class="{{ida_vuelta ? 'md:grid md:grid-cols-2 md:gap-5 md:divide-x-2' : ''}}">
		<div>
			{{ render(controller('App\\Controller\\ReservacionController::salidaForm', {reservacion: reservacion_id, primer_render: primer_render})) }}
		</div>
		{% if ida_vuelta %}
			<div class="md:pl-5 pt-10 md:pt-0">
				<div class="border-t mb-10 mt-3 md:hidden"></div>
				{{render(controller('App\\Controller\\ReservacionController::salidaForm',{reservacion:reservacion_id,ida_vuelta:true, primer_render: primer_render}))}}
			</div>
		{% endif %}
	</div>

	<div class="flex justify-between mt-14">
		{{ component('button_link', {text: 'Atrás' | trans, icon: {left: true, name: 'arrow_back'}, link: path('ruta', {'reservacion': reservacion_id})}) }}
		{{ component('button_link', {text: 'Cancelar' | trans, icon: {left: true, name: 'block'}, class: 'cancel', link: path('cancelar'), attr: 'data-turbo=false'}) }}
		<form action="{{path('salida', {reservacion: reservacion_id})}}">
			<input type="hidden" name="siguiente" value="1">
			{{ component('button', {text: 'Siguiente' | trans, icon: {right: true, name: 'arrow_forward'}, attr: {type: 'submit', onclick: 'this.click()'}}) }}
		</form>
	</div>

</turbo-frame>
